/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black; /* Set the background color to black */
    color: white; /* Make the text white for better contrast */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.navbar .logo {
    font-size: 32px;
    font-weight: bold;
}

.navmenu {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navmenu li {
    display: inline;
}

.navmenu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navmenu a:hover {
    text-decoration: underline;
}

.nav-connect {
    background-color: #4169E1;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.nav-connect:hover {
    background-color: #B923E1;
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 70px;
}

.hero h1 {
    text-align: center;
    width: 50%;
    font-size: 50px;
    font-weight: 500;
}

.hero h1 span {
    background: linear-gradient(270deg, #4169E1 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero_github,
.hero_Linkdin,
.hero_Instagram,
.hero_Resume {
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(264deg, #4169E1 -5.09%, #B923E1 106.28%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hero_github:hover,
.hero_Instagram:hover,
.hero_Linkdin:hover,
.hero_Resume:hover {
    border: 2px solid white;
    transform: scale(1.05);
}

.hero-action a {
    text-decoration: none;
    color: inherit;
}

.hero-action a:hover,
.hero-action a:focus,
.hero-action a:active {
    text-decoration: none;
    color: inherit;
}

/* About Section Styles */
.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -10px;
    margin: 80px 170px;
  }
  
  .about-title {
    position: relative;
  }
  
  .about-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
  }
  
  .about-left {
    display: flex;             
    justify-content: center;    
    align-items: center;       
    width: 100%;  
    margin-top: 50px;
  }             
  
  .about-left img {
    width: 50%;
    height: auto;
  }
  
  .about-right {
    margin-top: 50px;
    margin-left: auto; 
    margin-right: 0;   
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
  }
  
  .about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    width: 70%;
  }
  
  .about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #4169E1 -5.09%, #B923E1 106.28%);
  }
  
  .skill-link {
    text-decoration: none;  
    color: inherit;         
    cursor: pointer;      
  }
  
  .skill-link:hover {
    color: inherit; 
    text-decoration: underline; 
  }

  .projects {
    text-align: center;
    padding: 50px;
}

.projects-title h1 {
    font-size: 36px;
    margin-bottom: 80px;
}

.myproject-containers {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.myproject-container {
    width: 400px;
    height: auto;
    background: linear-gradient(264deg, #4169E1 -5.09%, #B923E1 106.28%);
    border-radius: 15px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.myproject-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.project-logo {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.project-info {
    text-align: center;
    margin-top: 40px;
}

.project-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    color: white;
}

.experience_section{
    text-align: center;
    padding: 50px;
}

.experience-title h1 {
    font-size: 36px;
    margin-bottom: 80px;
}

.experience-containers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: linear-gradient(264deg, #4169E1 -5.09%, #B923E1 106.28%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.experience-logo {
    width: 100px; 
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

.experience-work {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
 
.experience-time {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.experience-description{
    flex: 1;
    text-align: center;
    font-size: 16px;
}

.education_section{
    text-align: center;
    padding: 50px;
}

.education-title h1 {
    font-size: 36px;
    margin-bottom: 80px;
}

.education-containers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.education-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: linear-gradient(264deg, #4169E1 -5.09%, #B923E1 106.28%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.education-logo1 {
    width: 50px; 
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

.education-logo2 {
    width: 70px; 
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}


.education-school {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
 
.education-time {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.education-type{
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.footer{
    background-color: pink;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer a {
    color: #00AEEF; /* Blue link color */
    text-decoration: none;
    font-weight: bold;
}





