/* Navbar styles */
.navbar {
  background: grey; 
  width: 100%; 
  height: 100px; 
  position: fixed; 
  top: 0;
  left: 0;
  padding: 0; 
  z-index: 100; 
}

/* Container for navbar items */
.nav-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0 75px; 
  height: 100%; 
}

/* Logo styling */
.logo {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.logo a {
  color: white; 
  text-decoration: none; 
}

/* Navigation Links Styling */
ul {
  list-style: none; 
  display: flex; 
  gap: 20px; 
  margin: 0; 
}

ul li {
  display: inline-block;
}

ul a {
  color: white; 
  text-decoration: none; 
  font-size: 22px; 
  transition: color 0.3s; 
}

ul a:hover {
  color: #1E90FF; 
}

/* Button Styling */
#lightModeButton {
  padding: 10px 20px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#lightModeButton:hover {
  background-color: #5c9eeb;
}
